In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("./models/pooling_v1/results/preds.csv")
df["iso"] = df["school_id"].str.split("/").str[3]
df["diff"] = abs(df["true"] - df["pred"])
df.head()

                                school_id      pred      true iso      diff
0   ../../imagery/PH/PH201700000550_8.png  2.814083  3.056976  PH  0.242893
1   ../../imagery/CO/CO201000003146_7.png  3.111976  2.945055  CO  0.166921
2  ../../imagery/PH/PH200300000750_20.png -0.291495  0.858891  PH  1.150386
3  ../../imagery/GH/GH200800000331_14.png -1.047796  2.589742  GH  3.637538
4  ../../imagery/GH/GH200300000132_14.png -1.213516  2.342074  GH  3.555590

In [15]:
import numpy as np
import pandas as pd
from sklearn.metrics import r2_score, mean_absolute_error

def r2_rmse(g):
    r2 = r2_score(g['true'], g['pred'])
    rmse = np.sqrt(mean_absolute_error(g['true'], g['pred']))
    return pd.Series(dict(r2 = r2, rmse = rmse))

df.groupby('iso').apply(r2_rmse).reset_index()

   iso        r2      rmse
0   AL  0.376207  1.080847
1   BJ  0.569438  0.871301
2   BO  0.572004  1.027307
3   CI  0.441933  0.966367
4   CO  0.477226  1.096132
5   EG  0.462160  0.959746
6   GH  0.574273  0.939977
7   HN  0.361490  1.079007
8   HT  0.392254  1.027031
9   LB  0.511206  0.946655
10  NG  0.491788  1.006385
11  NM  0.194981  1.086221
12  PH  0.374925  1.000365
13  RW  0.229006  0.737539
14  TJ  0.525029  0.949970